.samsung-promo
    @media screen
        font-family: Helvetica, Arial, "Lucida Grande", sans-serif
        font-weight: 400

    
        background: #000 image-url('bg.jpg') no-repeat center top
        height: 100%
        min-height: 1800px
        font-size: 1rem
        line-height: 1.05
    


        .page_container
            width: 100%
            min-height: 100%
            padding-top: 50px
            padding-bottom: 60px
            margin: 0px auto -60px

            @media only screen and (min-width: 768px) and (max-width: 1023px)
                width: 640px
                padding-top: 63px
            @media only screen and (min-width: 1024px)
                width: 970px
                padding-top: 63px

