doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='css/bundle.css')
        link(rel="icon", href="img/favicon.ico")
        title Full Metal Coub - Coub
    body.samsung-promo
        .header
            .header-bg
            .header-content.clearfix
                .header-left
                    .header-logo
                        a(href='http://coub.com/')
                            img(src='img/logo.png')
                    .header-search
                        input(type='text', name='search', placeholder ='Search')
                .header-right