doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='css/bundle.css')
        link(rel="icon", href="img/favicon.ico")
        title Full Metal Coub - Coub
    body.samsung-promo
        .header
            .header-bg
            .header-content.clearfix
                .header-left
                    .header-logo.ib
                        a(href='http://coub.com/')
                            img(src='img/logo.png')
                    .header-search.ib
                        input(type='text', name='search', placeholder ='Search')
                    .header-nav.ib
                        ul.header-navlist
                            li.navitem.featured.ib
                                a(href='http://coub.com/explore') Featured
                            li.navitem.popular.ib
                                a(href='http://coub.com/explore/hot') Popular
                
                .header-right
                    .header-login.ib
                        .userbtn.ib.signup Sign up
                        .userbtn.ib.login Log in
                    .header-create.ib
                        a(href='http://coub.com/create') Create
        
        .page_container
            .promo-container.mobile-hidden
                .promo-block.promo-support
                    p При поддержке
                    img(src='img/samsung.png')
                .promo-block.promo-victoran
                    h3 Виктор Ан
                    p Шестикратный олимпийский чемпион по шорт треку, показавший всему миру, что такое железная воля.
                    a(href="http://youtu.be/fJ6sN-0aP8Y", target="_blank") Официальное лицо рекламной компании Samsung GALAXY A в Росcии.
                .promo-block.promo-followers.clearfix
                    .followers-counter
                        span.counter_value 278
                        p Followers
                    .follow_btn 
                        p Follow
                .promo-block.promo-share
                        .promo-share-header Расскажите про конкурс друзьям:
                        .promo-share-buttons
                            .social-btn.ib.vk Share on Vkontakte
                            .social-btn.ib.fb Facebook
                            .social-btn.ib.twitter

                .promo-block.promo-description
                    p Что такое металлический коб? Это коб, которым можно вскрыть консервную банку: дерзкий, громкий и острый, как коньки Виктора Ана.
                    p Конкурс на самый металлический коуб завершен. <br>В железной схватке за три новых <br>Samsung GALAXY A победили: <br><br>
                    p
                     |1 место:<br>
                     a(href="", target="_blank") Andrey Korneev<br>
                     a(href="", target="_blank") True metal kids #fullmetal
                    p
                     |2 место:<br>
                     a(href="", target="_blank") Андрей Маяков<br>
                     a(href="", target="_blank") Heaviest melody #fullmetal #ЖаждаПеремен 
                    p
                     |3 место:<br>
                     a(href="", target="_blank") YamaCoub<br>
                     a(href="", target="_blank") Dr.Ryan Stone vs Kin dza dza #fullmetal
                    p Спасибо за ваши коубы - это был рок!<br><br>
                    .description-rules
                        a(href="", target="_blank") Полные правила конкурса
                .promo-block.promo-phones.tablet-hidden
                .promo-block.promo-description.tablet-hidden


            .coubs-container